:root {
    --grid-max-width: 72.5rem;
    --grid-gutter: var(--space-s-l, clamp(1.125rem, 0.5625rem + 2.5vw, 2.5rem));
    --grid-columns: 12;
    --step--2: clamp(0.6944rem, 0.684rem + 0.0465vw, 0.72rem);
    --step--1: clamp(0.8333rem, 0.8061rem + 0.1212vw, 0.9rem);
    --step-0: clamp(1rem, 0.9489rem + 0.2273vw, 1.125rem);
    --step-1: clamp(1.2rem, 1.1156rem + 0.375vw, 1.4063rem);
    --step-2: clamp(1.44rem, 1.31rem + 0.5778vw, 1.7578rem);
    --step-3: clamp(1.728rem, 1.536rem + 0.8532vw, 2.1973rem);
    --step-4: clamp(2.0736rem, 1.7983rem + 1.2236vw, 2.7466rem);
    --step-5: clamp(2.4883rem, 2.1018rem + 1.718vw, 3.4332rem);
}


/* Andy Bell's CSS Reset */
/* Box sizing rules */
*,
*::before,
*::after {
    font-family: 'Jost', sans-serif;
    box-sizing: border-box;
}

/* Prevent font size inflation */
html {
    scroll-behavior: smooth;
    -moz-text-size-adjust: none;
    -webkit-text-size-adjust: none;
    text-size-adjust: none;
}

/* Remove default margin in favour of better control in authored CSS */
body, h1, h2, h3, h4, p,
figure, blockquote, dl, dd {
    margin-block-end: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
    list-style: none;
}

/* Set core body defaults */
body {
    padding: 0;
    margin: 0;
    min-height: 100vh;
    line-height: 1.5;
}

/* Set shorter line heights on headings and interactive elements */
h1, h2, h3, h4,
button, input, label {
    line-height: 1.1;
}

/* Balance text wrapping on headings */
h1, h2,
h3, h4 {
    text-wrap: balance;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
    text-decoration-skip-ink: auto;
    color: currentColor;
}

/* Make images easier to work with */
img,
picture {
    max-width: 100%;
    display: block;
}

/* Inherit fonts for inputs and buttons */
input, button,
textarea, select {
    font-family: inherit;
    font-size: inherit;
}

/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
    min-height: 10em;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
    scroll-margin-block: 5ex;
}

/* Andy Bell's CSS Reset */

h1 {
    font-size: var(--step-5);
}

h2 {
    font-size: var(--step-3);
}

.content-container {
    max-width: var(--grid-max-width);
    padding-inline: var(--grid-gutter);
    margin-inline: auto;
}

.navbar-container {
    height: 10vh;
    width: 100%;
    color: white;
}

.navbar-content {
    height: 10vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between; /* logo left, links right */
    align-items: center; /* vertically center both */
    max-width: var(--grid-max-width);
    margin-inline: auto;
    padding-inline: var(--grid-gutter);
}

.hamburger {
    display: none;
}

.logo-container h1 {
    font-size: var(--step-3);
    margin: 0;
    line-height: 1;
}

/* Page links */
.pages-container > ul {
    display: flex;
    align-items: center;
    gap: 2rem;
    list-style: none;
    margin: 0;
    padding: 0;
}

.pages-container > ul a {
    text-decoration: none;
    font-size: var(--step-0);
    color: inherit;
}

footer.footer-container {
    background: #181818;
    color: white;
}

.contact-content h3 {
    margin-top: 2rem;
}

footer.footer-container > .footer-content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 4fr 1fr;
    align-items: center;
    justify-items: center;
}

.footer-content .phone-number a {
  text-decoration: underline;
}

.chazzz-logo-img {
    grid-column: 2;
    grid-row: 1;
    width: 100%;
}

.chazzz-logo-img img {
  justify-self: center;
  align-self: center;
}

.credits {
    grid-row: 2;
    grid-column: 2;
}

.contact-content span {
    text-transform: uppercase;
    font-weight: 700;
}

.contact-content ul {
    list-style: none;
    padding: 0;
    display: flex;
    gap: 2rem;
}

.contact-content li a {
    font-size: var(--step-2);
    margin: 1rem;
}

.openingstijden-content {
    grid-column: 3;
}

.footer-content > .openingstijden-content ul {
    list-style: none;
    margin: 1rem auto auto auto;
    padding: 0;
    gap: 1rem;
}

.credits p {
    text-align: center;
}

.credits p:last-child {
    margin-top: 0;
    color: rgba(255, 255, 255, 0.25)
}

.footer-content > div {
    margin-bottom: 2rem;
}

.footer-content h3 {
    margin-bottom: 0.75rem;
}

.footer-content p,
.footer-content span,
.footer-content a {
    margin-bottom: 0.5rem;
}

.footer-content ul {
    margin: 0.5rem 0;
    padding: 0;
    list-style: none;
}

@media (max-width: 678px) {
    .navbar-content ul {
        display: flex;
        flex-direction: column;
    }

    footer.footer-container > .footer-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 2rem;
    }


    footer .contact-content,
    footer .openingstijden-content,
    footer .chazzz-logo {
        text-align: center;
        margin: 0 auto;
    }

   
    footer .contact-content ul {
        display: flex;
        justify-content: center;
        gap: 1rem;
        padding: 0;
        margin: 0.5rem 0 0 0;
    }

    footer .openingstijden-content ul {
        display: flex;
        flex-direction: column;
        padding: 0;
        list-style: none;
    }

    .hamburger {
        display: block;
        position: absolute;
        top: 1.35rem;
        right: 1rem;
        z-index: 1100;
        cursor: pointer;
        font-size: 2rem;
        color: white;
    } 

    .hamburger ion-icon {
        font-size: inherit;
        color: inherit;
    }

    /* Mobile full-screen sidebar menu */
    .page-list {
        position: fixed;
        top: 0;
        right: 0;
        width: 75%;
        height: 100vh;
        background-color: #181818;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 2rem;
        padding: 0;
        transform: translateX(100%);
        transition: transform 0.6s cubic-bezier(0.075, 0.82, 0.165, 1);
        z-index: 1000;
    }

    .page-list.active {
        transform: translateX(0); /* slide in transition */
    }

    .nav-link {
        font-size: var(--step-3);
        color: white;
        text-transform: uppercase;
    }

    .hamburger.active {
        display: block;
        cursor: pointer;
        z-index: 1100;
    }

    body.no-scroll {
        position: fixed;
    }
}
