:root {
    --grid-max-width: 72.5rem;
    --grid-gutter: var(--space-s-l, clamp(1.125rem, 0.5625rem + 2.5vw, 2.5rem));
    --grid-columns: 12;
    --step--2: clamp(0.68rem, 0.8227rem + -0.1841vw, 0.7813rem);
    --step--1: clamp(0.85rem, 0.9733rem + -0.1591vw, 0.9375rem);
    --step-0: clamp(1.0625rem, 1.1506rem + -0.1136vw, 1.125rem);
    --step-1: clamp(1.3281rem, 1.3589rem + -0.0398vw, 1.35rem);
    --step-2: clamp(1.62rem, 1.6036rem + 0.073vw, 1.6602rem);
    --step-3: clamp(1.944rem, 1.8903rem + 0.2385vw, 2.0752rem);
    --step-4: clamp(2.3328rem, 2.2259rem + 0.4749vw, 2.594rem);
    --step-5: clamp(2.7994rem, 2.6181rem + 0.8057vw, 3.2425rem);
}

/* Andy Bell's CSS Reset */
/* Box sizing rules */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Prevent font size inflation */
html {
    -moz-text-size-adjust: none;
    -webkit-text-size-adjust: none;
    text-size-adjust: none;
}

/* Remove default margin in favour of better control in authored CSS */
body, h1, h2, h3, h4, p,
figure, blockquote, dl, dd {
    margin-block-end: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
    list-style: none;
}

/* Set core body defaults */
body {
    padding: 0;
    margin: 0;
    min-height: 100vh;
    line-height: 1.5;
}

/* Set shorter line heights on headings and interactive elements */
h1, h2, h3, h4,
button, input, label {
    line-height: 1.1;
}

/* Balance text wrapping on headings */
h1, h2,
h3, h4 {
    text-wrap: balance;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
    text-decoration-skip-ink: auto;
    color: currentColor;
}

/* Make images easier to work with */
img,
picture {
    max-width: 100%;
    display: block;
}

/* Inherit fonts for inputs and buttons */
input, button,
textarea, select {
    font-family: inherit;
    font-size: inherit;
}

/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
    min-height: 10em;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
    scroll-margin-block: 5ex;
}

/* Andy Bell's CSS Reset */

h1 {
    font-size: var(--step-5);
}

h2 {
    font-size: var(--step-3);
}

.page-container {
    max-width: var(--grid-max-width);
    padding-inline: var(--grid-gutter);
    margin-inline: auto;
}

.navbar-container {
    display: grid;
    gap: var(--grid-gutter);
    justify-items: center;
    background: #403a3a;
    color: white;
}

.pages-container > ul {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    list-style-type:  none;
}

.pages-container > ul a {
    text-decoration: none;
}